
    .title-bookmark{
        /* Heading (L) */
        margin: 15px;

        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;

        /* Pure White */

        color: #FFFFFF;
    }
