.trending-container{
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    // max-width: 100vw;

    h2{
        margin: 20px;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        
        /* Pure White */
        
        color: #FFFFFF;
        max-width: 89vw;
    }
    
    .card-trending-container{
        margin: 15px;
        display: flex;

        .btnBookmark{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            position: absolute;
            left: 85%;
            bottom: 78%;
            background: #10141E;
            opacity: 0.7;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            .icon-icon-bookmark-full{
                color: #fff;
            }

            .icon-icon-bookmark-empty {
                color: #FFFFFF;
                font-size: 20px;
              }

            &:hover{
                background: #FFFFFF;
                // opacity: 1;
                .icon-icon-bookmark-full{
                    color: #10141E;
                }
                .icon-icon-bookmark-empty{
                    color: #10141E;
                }
            }
        }


        .card-trending-content{
            position: relative;
            margin-right: 25px;

            .play-container{
                position: relative;
                &:hover{
                    cursor: pointer;
                    .play{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &::after{
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                        z-index: 1;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 98.5%;
                        border-radius: 8px;
                    }
                }
            }
            .play{
                position: absolute;
                
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            
                width: 137px;
                height: 58px;
                background-color: #ffffff4f;
        
                border-radius: 28.5px;
                display: none;
                z-index: 100;
                
                .icon-icon-play{
                    color: #fff;
                    font-size: 30px;
                    margin-right: 19px;
                    opacity: 1;
                }
                p{
                    opacity: 1;
                    font-family: 'Outfit', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: #FFFFFF;
                }
                
            }

            img{
                width: 470px;
                height: 230px;
                border-radius: 8px;
            }
        
            .text-trending-content{
                position: absolute;
                left: 24px;
                bottom: 24px;
                z-index: 1;
                .footer-trending-one{
                    font-family: 'Outfit', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 19px;
                    color: #FFFFFF;
        
                    mix-blend-mode: normal;
                    opacity: 0.75;
                    margin: 7px 0;
                    
                    .span{
                        margin: 0 10px;
                    }
                }
                .footer-trending-two{
                    font-family: 'Outfit', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            }
        }
    }
}